<!DOCTYPE html>
<html>
<head>
	<title>new</title>
</head>
<body>
	<h1>NEW! here it is :-D</h1>
	 
	 <!-- <form  accept-charset="UTF-8" action="/users" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"> 

        <label for="un">User Name:</label>
        <input type="text" id="un" name="user[username]">

        <label for="email">Email:</label>
        <input type="text" id="email" name="user[email]">

        <label for="pwd">Password:</label>
        <input type="password" id=pwd name="user[password_digest]">

        <input type="submit" value="Submit This Form">
    </form> -->

    <%= form_for @user do |f| %>
      <%= f.label(:username, "User Name:") %>
      <%= f.text_field :username %>

      <%= f.label(:email,"Email:")%>
      <%= f.text_field :email %>

      <%= f.label(:password_digest, "Password:")%>
      <%= f.password_field :password_digest %>

      
      <%= f.submit "Submit this Form!" %>
    <% end %>



</body>
</html>